
{% extends "main.tpl" %}

{% block content %}

<div class="page_box">
	<div class="container">
		<h2>{{ 'Articles'|trans }}</h2>
		<br>
		{% if articles %}
			<ul class="list-unstyled articles_list">
				{% for article in articles %}
					<li class="media">
						<a href="{{ path('article',article.id,article.slug) }}" class="mr-3" title="{{ article.name }}">
							<img src="{% if article.thumb %}{{ article.thumb }}{% else %}views/{{ settings.template }}/images/no_image.png{% endif %}"
							alt="{{ article.name }}" class="img-fluid img-thumbnail" onerror="this.src='views/{{ settings.template }}/images/no_image.png'" loading="lazy">
						</a>
						<div class="media-body">
							<h5 class="mt-0 mb-2"><a href="{{ path('article',article.id,article.slug) }}" class="main-color-1" title="{{ article.name }}">{{ article.name }}</a></h5>
							<p class="text-muted small mb-2">{{ article.date|date("d-m-Y") }}</p>
							<p>{{ article.lid }}</p>
						</div>
					</li>
				{% endfor %}
			</ul>
			<br>
			{% include 'partial/pagination.tpl' %}
		{% else %}
			<h3 class="text-danger">{{ 'Nothing found'|trans }}</h3>
		{% endif %}
	</div>
</div>

{% endblock %}
