
{% extends "main.tpl" %}

{% block content %}

<div class="page_box">
	<div class="container">
		<div class="text-center">
			<h2>{{ article.name }}</h2>
			<p class="text-muted small mb-1">{{ 'Published'|trans }}: {{ article.date|date("d-m-Y") }}</p>
			<p><a href="{{ path('articles') }}" title="{{ 'Return to the list of articles'|trans }}" class="main-color-1">{{ 'Return to the list of articles'|trans }}</a></p>
		</div>
		<br>
		<div class="content">
			{{ article.content|raw }}
		</div>
		<div class="d-print-none">
			<div class="social_share_box">
				<small>{{ 'Share'|trans }}: </small>
				{% if settings.social_facebook %}
					<a href="https://www.facebook.com/sharer/sharer.php?u={{ absolutePath('article',article.id,article.slug) }}" title="{{ 'Share'|trans }} Facebook" rel="nofollow" target="_blank"><i class="fab fa-facebook"></i></a>
				{% endif %}
				{% if settings.social_twitter %}
					<a href="https://twitter.com/intent/tweet?text={{ article.name }} {{ absolutePath('article',article.id,article.slug) }}" title="{{ 'Share'|trans }} Twitter" rel="nofollow" target="_blank"><i class="fab fa-twitter"></i></a>
				{% endif %}
				{% if settings.social_pinterest %}
					<a href="https://pinterest.com/pin/create/button/?url={{ absolutePath('article',article.id,article.slug) }}&media={{ settings.logo_facebook }}" title="{{ 'Share'|trans }} Pinterest" rel="nofollow" target="_blank"><i class="fab fa-pinterest"></i></a>
				{% endif %}
				{% if settings.social_linkedin %}
					<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ absolutePath('article',article.id,article.slug) }}&title={{ article.title }}" title="{{ 'Share'|trans }} LInkedIn" rel="nofollow" target="_blank"><i class="fab fa-linkedin"></i></a>
				{% endif %}
			</div>
			{% if settings.allow_comments_fb_article %}
				<br>
				<div class="fb-comments" data-href="{{ absolutePath('article',article.id,article.slug) }}" data-numposts="15"></div>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}
